<div class="jumbotron">
 <h1 class="display-4">Seja Bem-Vindo!</h1>
 <p class="lead">Esse é o Crypto Wallet, um app para você cadastrar e
acompanhar tudo sobre as suas criptomoedas.</p>
 <hr class="my-4">
 <p>Para começar, selecione uma das opções abaixo:</p>
 <%= render "menu"%>
</div>   
